<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324061573901-kptu1v0ao098ntankaq05lrcksqp6o8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324061573901-kptu1v0ao098ntankaq05lrcksqp6o8i</string>
	<key>API_KEY</key>
	<string>AIzaSyCXo_0Kl-5v8V2gAT2sId0JYeCcHpOXP3k</string>
	<key>GCM_SENDER_ID</key>
	<string>324061573901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Liuklian.Oleg.FurnitureBeta</string>
	<key>PROJECT_ID</key>
	<string>test-cb270</string>
	<key>STORAGE_BUCKET</key>
	<string>test-cb270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324061573901:ios:8b445b749fbb4e29a33644</string>
</dict>
</plist>